@media screen and (min-width: 1100px) {
  body{
  }

  .cover{
    width: 80%;
  }
/* works */
  #work .container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .cardBox{
    width: 30%;
    margin-bottom: 3em;
  }
/*   .cardBox:nth-of-type(n+4) {
    margin-bottom: 0em;
  } */
/* desktopでのバグ */
  .cardBox:last-of-type{
  margin-bottom: 3em;
}
/* about */
  #about .container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #about img{
    width: 200px;
    height: 200px;
  }


  .prof_text{
    width: 50%;
  }

  #about .socialIcon{
    text-align: right;
    font-size: 3.5em;
  }


  /* skill */
  #skill .container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .category{
    width: 28%;
    margin-bottom: 3em;
  }

/* ProjectPage */
.tags__item {
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    padding: 5px 10px 5px 28px;
    margin: 3px 10px 3px 0;
    font-size: 1.5em;
    position: relative;
  }
  #deliverables img{
    margin-bottom: 3em;
  }
  footer p{
    padding: 1.2em;
    font-size: 1.8em;
  }


}