@media screen and (min-width:600px) and ( max-width:1100px) {
  #work .container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .cardBox{
      width: 47%;
      transition: all .5s;
  }
  .cardBox:nth-of-type(n+1) {
  }

}