@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

ul{
  margin: 0;
}

.nav{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  padding: 0;
  z-index: 1;
}

.nav li{
  text-align: center;
  font-size: 2.5em;
  font-family:'Ubuntu', sans-serif;
  margin: 1em;
  color: white;
}

.nav ul{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
}

@keyframes bound{
  0% {transform: translate(50%,0%);}
  100% {transform: translate(50%,-30%);}
}

body{
  font-size: 62.5%;/* 1em = 10px */
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family:'Ubuntu', sans-serif;
  margin: 0;
}

/* whole links */
a:link { color: black; }
a:visited { color:black; }
a:hover { color: black; }
a:active { color: black; }
a{text-decoration: none}

/* Whote cotexts */
p{
  line-height: 1.5em;
  font-size: 16px;
}
/* header */
header{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size:cover;
  position: relative;
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: 55% top;
  position: relative;
}

header::before{
  /* 透過した黒を重ねる */
  background-color: rgba(0,0,0,0.5);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

.header_box{
  width: 90%;
  margin: 0 auto;
}

.topOverRap{
  z-index: 999;
}

.fixed{
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translate(-50%,0%);
  -webkit-transform: translate(-50%,0%);
  -moz-transform: translate(-50%,0%);
}

.logo{
  width: 37px;
  height: 37px;
}

.fa-bars{
  font-size: 37px;
  position: absolute;
  right: 0;
  color: silver;
}
/* nav */
.nav{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  padding: 0;
  display: none;
}

.nav li{
  text-align: center;
  font-size: 2.5em;
  font-family:'Ubuntu', sans-serif;
  margin: 1em;
}
.nav li a{
  color: white;
}

.nav ul{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
}


/* section */
section{
  width: 85%;
  background: pink;
  margin: 0 auto;
}

section:last-of-type {
  background: blue;
  padding-bottom: 100px;
}



h1, h2{
  position: relative;
  color: white;
}

h1{
  font-size: 4.5em;
}

h2{
  font-size: 2em;
  line-height: 1.5em;
}

.fa-angle-down{
  font-size: 50px;
  color: silver;
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translate(50%,0%);
  animation: bound .2s ease-out infinite alternate;
}

/* section part */
/* section heading */
h3{
  font-size: 3em;
  position: relative;
  background: yellow;
  padding: 50px 0 50px 0;
}
/* Line */
h3:after{
  content:"";
  position: absolute;
  background: black;
  width: 2em;
  height: .09em;
  left: 0;
  top: 70%;
}

/* mask with js */
#work .container{
  text-align: center;
  position:relative;
}

.overlay img{
  width: 100%;
}

.overlay{
  width: 100%;
  background: red;
  margin: 0 auto;
  display: inline-block;
  cursor : pointer;
  position: relative;
  margin-bottom: 4em;
}

.mask{
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  display: none;
  opacity: 0.8;
}
/* work title on mask */
.mask h4{
  text-align: center;
  color: white;
  font-size: 2em;
  position: absolute;
  top: 80%;
  left: 2.5%;
  transform: translate(0%,-100%);
}
.mask p{
  text-align: center;
  color: white;
  font-size: 1.4em;
  position: absolute;
  top: 95%;
  left: 2.5%;
  transform: translate(0%,-100%);
}

/* about */
#prof{
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.2em;
}

/* skills */
/* skills sub-headings */
h5{
  font-size: 2em;
  margin: .1em 0 1em 0;
}

h5:first-of-type {
  padding: 0em 0 1em 0;
}

/* names of skills */
h6{
  background: red;
  font-size: 1.5em;
  padding: 7px 0 7px 0;
}

h6:first-of-type {
  padding: 0px 0 7px 0;
}


.bar{
  margin: 0;
  background: silver;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  position: relative;
}

.bar_over{
/* for js */
  width: 0%;
  transition: all .5s;
}

.bar_over_0{
  width: 0%;
  height: 100%;
  background: black;
  position: absolute;
}

.bar_over_20{
  width: 20%;
  height: 100%;
  background: black;
  position: absolute;
}
.bar_over_40{
  width: 40%;
  height: 100%;
  background: black;
  position: absolute;
}
.bar_over_60{
  width: 60%;
  height: 100%;
  background: black;
  position: absolute;
}
.bar_over_80{
  width: 80%;
  height: 100%;
  background: black;
  position: absolute;
}
.bar_over_100{
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
}

/* contact */
#contact .container{
  text-align: center;
}

#contact p{
  padding-bottom: 2em
}
.mail a{
  font-size: .5em;
}
.mail{
  width: 250px;
  height: 50px;
  background:skyblue;
  border-radius:5px;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  margin: 0 auto;
}
.mail:hover{
  opacity: 1;
  background: red;
}


footer{
  background: green;
  text-align: center;
}

footer .socialIcon{
  padding: .9em 0 1.1em 0;
  font-size: 2.3em;
  background: red;
}
footer p{
  padding: 1.2em;
  font-size: 1em;
}
